<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 引入外部的属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClass}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- 配置Hibernate的相关属性 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">  
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置Hibernate属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 加载Hibernate中的映射文件 -->
		<property name="mappingResources">
			<list>
			<value>com/lj/pojo/user/User.hbm.xml</value>
			<value>com/lj/pojo/sysNotice/SysNotice.hbm.xml</value>
			<value>com/lj/pojo/department/Department.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置Action的类 -->
	<!-- 注册登录所用类 -->
	 <bean id="userAction"  class="com.lj.action.UserAction" scope="prototype">
	<property name="userService" ref="userService"></property>
	</bean> 
	<!-- 患者用户所用类 -->
	 <bean id="userType1Action"  class="com.lj.action.userType1.UserType1Action" scope="prototype">
	<property name="userService" ref="userService"></property>
	</bean> 
	<!-- 管理员用户所用类 -->
	 <bean id="userType0Action"  class="com.lj.action.userType0.UserType0Action" scope="prototype">
	<property name="userService" ref="userService"></property>
	</bean> 
	<!-- 医生用户所用类 -->
	 <bean id="userType2Action"  class="com.lj.action.userType2.UserType2Action" scope="prototype">
	<property name="userService" ref="userService"></property>
	<property name="departmentService" ref="departmentService"></property>
	</bean> 
	<!-- 公告所用类 -->
	 <bean id="sysNoticeAction"  class="com.lj.action.sysNotice.SysNoticeAction" scope="prototype">
	<property name="sysNoticeService" ref="sysNoticeService"></property>
	</bean> 
	<!-- 科室所用类 -->
	 <bean id="departmentAction"  class="com.lj.action.department.DepartmentAction" scope="prototype">
	<property name="departmentService" ref="departmentService"></property>
	</bean> 
	
	
	
	
	
	
	<!-- 配置业务层的类 -->
	<!-- 用户service -->
	 <bean id="userService" class="com.lj.service.user.UserServiceImpl">
	<property name="userDao" ref="userDao"></property>
	</bean>
	<!-- 公告service -->
	 <bean id="sysNoticeService" class="com.lj.service.sysNotice.SysNoticeServiceImpl">
	<property name="sysNoticeDao" ref="sysNoticeDao"></property>
	</bean>
	<!-- 科室service -->
	 <bean id="departmentService" class="com.lj.service.department.DepartmentServiceImpl">
	<property name="departmentDao" ref="departmentDao"></property>
	</bean>
	
	
	
	
	
	<!-- 配置DAO的类 -->
	<!-- 用户Dao -->
	 <bean id="userDao" class="com.lj.dao.user.UserDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 公告Dao -->
	 <bean id="sysNoticeDao" class="com.lj.dao.sysNotice.SysNoticeDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 科室Dao -->
	 <bean id="departmentDao" class="com.lj.dao.department.DepartmentDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>